
    body {
      background-color: rgb(157, 191, 208);
    }
    h1{
      font-family: Helvetica, sans-serif; 
      font-size: 4rem;
      color: black;
      text-align: center;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        color: rebeccapurple;
    }
    h3{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      color:orange;}


    section{
        background-color: orangered;
    }
    p{
        font-size: 20px;
    }
    ul{border: 1px solid black;}
    #haha {margin-left: 45%;}
    #left-sde {
        position: relative;
        width: 100%;
        display:inline-block;
        margin:auto;
    }
    .rotateimg90{
      -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 45%;
    }

  


