.header-style{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  font-size: xx-large;
  color: black;
}

  .navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size:x-large;
    margin
    padding: 20px;
    width: 250px;
    height: 70px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top-style: solid; 
    border-top-width: 4px; 
    border-top-color: rgba(0, 128, 128, 0.774);
    background-color: rgba(20, 20, 20, 0.301);
    padding-top: 5px;
    color: white;
    text-align: center;
  }
  
  .bio-content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height:100%;
    margin: 10px;
    padding: 20px;


  }
  .bio-image {
    width: 230px;
    height:190px;
    float:left;
    margin: 10px;
    border: 5px solid;
    padding: 25px;
  }
  .rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  #link-to-detailed-bio{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.contact-content{
  width: 100%;
  height:85%;
  margin: 6px;
  border: 1px solid rgb(8, 8, 8);
  padding:10px;
}

.contactlink-color{
  color:black
}
  
.imageNav-header{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  color: black;

}


